<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-ld-moments-sdk"
        version="0.1.0">

  <name>Moments SDK</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>
  <preference name="API_KEY" />

  <asset src="www/moments.js" target="js/moments.js"/>

  <platform name="android">
    <js-module src="www/moments.js" name="moments">
      <clobbers target="cordova.plugins.moments" />
    </js-module>
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="MomentsPlugin">
        <param name="android-package" value="com.lotadata.moments.plugin.MomentsPlugin"/>
        <param name="onload" value="true" />  <!-- Must Have -->
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
      <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
      <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <service android:name="com.lotadata.moments.MomentsService" android:exported="false"/>
      <meta-data android:name="com.lotadata.moments.API_KEY" android:value="$API_KEY"/>
    </config-file>

    <source-file src="src/android/MomentsPlugin.java" target-dir="src/com/lotadata/moments/plugin/"/>
    <source-file src="moments-sdk-latest.jar" target-dir="libs"/>
    <framework src="src/android/extras.gradle" custom="true" type="gradleReference"/>
  </platform>
</plugin>
